.categories{
    padding: 60px 6.666%;
    width: 100%;
    height: 90vh;
}

.categories p{
    text-align: center;
    font-size: 48px;
    margin-bottom: 1em;
    letter-spacing: 5px;
}
.category-cards{
    display: flex;
    justify-content:space-between;
    width: 100%;
    /* flex-wrap: wrap; */
}